:root {
    --green-dark: #849D8F;
    --brown-dark: #9D8B84;
    --grey-dark: #8996A6;
    --white: #fff;
    --white-light: #fefefe;
    --white-light-1: #f8f7f4;
    --white-dark: #ababab;
    --white-light-alfa: rgba(248, 247, 244, 0.5);
    --white-dark-bg: rgba(255, 255, 255, 0.2);
    --white-light-bg: rgba(255, 255, 255, 0.8);
    --black-outline-input: rgba(178, 178, 178, 0.52);
    --black-light: #5A5A5A;
    --black: #323232;
    --tomato-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --tomato-shadow: rgba(172, 16, 0, 0.64);
    --tomato-dark: #D07058;
    --tomato: #E84D37;
    --grey: #ABABAB;
    --creame: #F8F7F4;
}

body {
    background-color: var(--green-dark);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

.form-search,
.form-login,
.submenu,
.basket,
.modal-feedback {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* header */

.logo__img {
    fill: var(--white);
}

.menu__link {
    border-radius: 26px;
    background-color: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.menu__link--active {
    background-color: var(--tomato-dark);
}

.menu__button {
    border-radius: 20px;
    background-color: var(--white-dark-bg);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}
.menu__button--active {
    background-color: var(--white);
    color: var(--black);
}

.menu__img {
    fill: var(--white);
}
.menu__button--basket path:nth-child(2) {
    fill: none;
}
.menu__button--active .menu__img {
    fill: var(--black);
}
.menu__button--basket.menu__button--active path:nth-child(2) {
    fill: var(--tomato);
}

.header-bar__row {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.header-bar__row--tel {
    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

/* main */
.main-slider__header {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;    
}

.main-slider__img {
    filter: drop-shadow(0 10px 80px var(--white-light-bg))
}

.main-slider__buttom {
    border-radius: 70px;
    background-image: var(--tomato-gradient);
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    box-shadow: 0px 2px 2px var(--tomato-shadow);
}

.offer {
    background-color: var(--black-light);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.offer--raspberry {
    background-image: url("../img/bg-rasberry.jpg");
}

.offer--chocolate {
    background-image: url("../img/bg-chocolate.jpg");
}

.offer__header {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.offer__description {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.offer__button {
    background-image: var(--tomato-gradient);
    border-radius: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.description__header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.description {
    background-color: var(--creame);
    background-image: url("../img/wafer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    color: var(--black);
    border-radius: 16px;
}

.description__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
}
.description__item::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
}
.description__item:nth-child(1)::before {
    background-image: url("../img/ice-cream.svg") no-repeat;
}
.description__item:nth-child(2)::before {
    background-image: url("../img/eco.svg") no-repeat;
}
.description__item:nth-child(3)::before {
    background-image: url("../img/cow.svg") no-repeat;
}
.description__item:nth-child(4)::before {
    background-image: url("../img/thermometer.svg") no-repeat;
}

.news {
    background-color: var(--white);
    background-image: url("../img/bg-strawberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.news__header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.news__link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: var(--black);
}

.subscription {
    display: flex;
    border-radius: 16px;
    background-color: var(--creame);
    background-image: url("../img/bg-post.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription__wrapper {
    width: 100%;
    margin: 5px;
    border-radius: 16px;
    background-color: var(--creame);
}
.subscription__descriptin {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-light);
}

.subscription__input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    
}

.subscription__submit {
    background-image: var(--tomato-gradient);
    border: none;
    border-radius: 70px;
    font: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    vertical-align: middle;
}

.contact__marker{
    fill: var(--tomato);
}

.contact__info {
    background-color: var(--white-light);
    border-radius: 16px;
}

.popup-info__header {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.popup-info__address {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
}

.popup-info__telephone {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.popup-info__telephone-link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
}

.popup-info__telephone-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black)
}

.popup-info__button {
    background-image: var(--tomato-gradient);
    border-radius: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

/* catalog */
.breadcrumbs__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.catalog__header {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.catalog-form__form-label,
.catalog-form__legend {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}

.catalog-form__select-label {
    background-color: var(--white-dark-bg);
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.catalog-form__select-arrow {
    fill: var(--white)
}

.catalog-form__select-list {
    display: none;
}

.catalog-form__wrapper-field {
    background-color: var(--white-dark-bg);
    border-radius: 20px;
}

/*  */

.catalog-form__range-controls {
    position: relative;
    height: 36px;
}
  
.catalog-form__scale {
    height: 2px;
    background: var(--white-light-alfa);
}
  
.catalog-form__bar {
    width: 70%;
    height: 2px;
    background: var(--white-light-1);
}

.catalog-form__toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white);
    background-color: var(--white-dark);
    border-radius: 50%;
    cursor: pointer;
}
.catalog-form__toggle--min {
    left: 18px;
}
.catalog-form__toggle--max {
    left: 160px;
}

/*  */

.catalog-form__label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
}

.catalog-form__radio-icon {
    position: relative;
    width: 22px;
    height: 22px;
    border: 3px solid var(--white);
    border-radius: 50%;
    box-sizing: border-box;
}
.catalog-form__radio:checked + .catalog-form__radio-icon::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--white);
    border-radius: 50%;
}

.catalog-form__checkbox-icon {
    width: 24px;
    height: 20px;
    background-image: url("../img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.catalog-form__checkbox:checked + .catalog-form__checkbox-icon {
    background-image: url("../img/checkbox-on.svg");
}

.catalog-form__button {
    box-sizing: border-box;
    border: 2px solid var(--white);
    border-radius: 20px;
    background-color: var(--white-dark-bg);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    cursor: pointer;
    user-select: none;
}

.catalog__item-product--hit::before {
    z-index: 100;
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-color: var(--white);
    background-image: url("../img/hit.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.product__header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.product__photo {
    z-index: 10;
    position: relative;
    border-radius: 50%;
}

.product__price {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.product_weight {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.catalog__list-pages {
    display: flex;
}

.catalog__item-page {
    list-style: none;
}

.catalog__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}
.catalog__item-link--active {
    background-color: var(--white);
    color: var(--black);
    border-radius: 50%;
}
.catalog__item-link--disable {
    opacity: 0.2;
}

.catalog__item-arrow {
    fill: var(--white);
}

/* footer */
.social__logo {
    fill: var(--white-light-bg);
    border: 2px solid var(--white-dark-bg);
    border-radius: 50%
}

.info__img {
    position: absolute;
    fill: var(--white);
}

.info__link {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
}
.info__link--love {
    font-weight: bold;
}

.developer__logo-img {
    fill: var(--white);
}

.developer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.developer__link {
    text-decoration: underline;
}
