:root {
    --green-dark: #849d8f;
    --brown-dark: #9d8b84;
    --grey-dark: #8996a6;
    --white: #fff;
    --white-light: #fefefe;
    --white-light-1: #f8f7f4;
    --white-light-2: #ededed;
    --white-dark: #ababab;
    --white-light-alfa: rgba(248, 247, 244, 0.5);
    --white-dark-bg: rgba(255, 255, 255, 0.2);
    --white-dark-alfa: rgba(50, 50, 50, 0.2);
    --white-light-bg: rgba(255, 255, 255, 0.8);
    --white-light-1-bg: rgba(255, 255, 255, 0.4);
    --white-light-border: rgba(255, 255, 255, 0.5);
    --white-light-1-border: rgba(255, 255, 255, 0.7);
    --white-light-alfa-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    --black-outline-input: rgba(178, 178, 178, 0.52);
    --black-light: #5a5a5a;
    --black-light-1: #cacac7;
    --black-light-alfa-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
    --black: #323232;
    --black-dark: #000;
    --black-alfa-2: rgba(0, 0, 0, 0.2);
    --black-alfa-3: rgba(0, 0, 0, 0.3);
    --black-alfa-4: rgba(0, 0, 0, 0.4);
    --black-alfa-5: rgba(49, 50, 53, 0.5);
    --tomato-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
    --tomato-gradient-1: linear-gradient(180deg, #f26843 0%, #e84d37 100%);
    --tomato-dark-gradient: linear-gradient(to bottom, #d84732, #e1613e);
    --tomato-light-gradient: linear-gradient(to bottom, #f58669, #ec6f5e);
    --tomato-shadow: rgba(172, 16, 0, 0.64);
    --tomato-text-shadow: rgba(160, 32, 11, 0.76);
    --tomato-dark: #d07058;
    --tomato-dark-1: #942718;
    --tomato-light: #ffbc9e;
    --tomato: #e84d37;
    --grey: #ababab;
    --grey-dark: #999;
    --grey-dark-1: #696969;
    --grey-light: #d3d3d2;
    --creame-light: #f8f7f4;
    --creame: #fbded7;
    --creame-dark: #f6b5a5;
    --blue: #1e90ff;
    --blue-outline: rgba(46, 136, 228, 0.52);
    --red-dark: rgba(172, 16, 0, 1);
    --red-dark-1: #ac1000;
    --red-dark-alfa: rgba(172, 16, 0, 0.25);
    --red-dark-alfa-1: rgba(85, 8, 0, 0.54);   
}

a {
    color: var(--white);
    text-decoration: none;
    user-select: none;
}
a:focus {
    outline: 1px solid var(--tomato);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.html {
    height: 100%;
    background: var(--green-bg);
}

/* page */

.page {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 27px;
    box-sizing: border-box;
    background: var(--green-dark);
    color: var(--white);
    font-family: 'Roboto', Arial, sans-serif;
}

.page--catalog {
    background: 
        var(--green-dark)
        var(--white-light-alfa-bg) repeat-x;
}

.page__header {
    z-index: 30;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0 0 0;
}

.page__main {
    z-index: 20;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
}

.page__footer {
    z-index: 30;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 26px 0;
}

/* ---------------- header ---------------- */

.logo {
    flex-grow: 0;
}

.logo__img {
    fill: var(--white);
}

/* menu */

.menu {
    --line-height: 18px;
    --padding-top: 8px;
}

.menu {
    z-index: 40;
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -7px;
    padding: 0 0 0 9px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    position: relative;
    display: flex;
    margin-right: 5px;
    border-radius: 26px;
}
.menu__item--middle {
    margin-left: auto;
    margin-right: 10px;
}
.menu__item--between-middle-end {
    margin-right: 11px;
}
.menu__item--end {
    margin-right: 0;
}
.menu__item:hover {
    background-color: var(--white);
}
.menu__item:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 15px;
}

.menu__link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    border-radius: 26px;
    text-decoration: underline;
    padding: 7px 14px 7px 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: var(--line-height);
    cursor: pointer;
}
.menu__item:hover > .menu__link {
    color: var(--black);
}
.menu__link:active {
    background-color: var(--white-light-2);
    color: var(--black);
    fill: var(--black);
    box-shadow: inset 0px 2px 1px var(--grey-dark-1);
}
.menu__link--active {
    background-color: var(--tomato-dark);
}

.menu__button {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--padding-top) 16px var(--padding-top) 44px;
    border-radius: 20px;
    background-color: var(--white-dark-bg);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-height);
    color: var(--white);
    fill: var(--white);
}
.menu__button--active {
    background-color: var(--white);
    color: var(--black);
}
.menu__button--search {
    width: calc(var(--line-height) + 2 * var(--padding-top));
    height: calc(var(--line-height) + 2 * var(--padding-top));
    padding: 0;
}
.menu__item:hover .menu__button {
    background-color: var(--white);
    color: var(--black);
    fill: var(--black);
}

.menu__img {
    position: absolute;
    top: 0;
    left: 16px;
    height: 100%;
    fill: inherit;
}

.menu__button--search .menu__img {
    position: relative;
    left: 9px;
}
.menu__button--basket path:nth-child(2) {
    fill: none;
}
.menu__button--active .menu__img {
    fill: var(--black);
}
.menu__button--basket.menu__button--active path:nth-child(2) {
    fill: var(--tomato);
}

/* submenu */

.submenu {
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 1px;
    left: -5px;
    transform-origin: top;
    transform: translateY(calc(100% + 5px));
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background-color: var(--white);
    list-style: none;
    box-shadow: 0px 20px 20px var(--black-alfa-4);
    overflow: hidden;
}
.menu__item:hover .submenu {
    display: flex;
}

.submenu__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
    padding: 0;  
    cursor: default; 
}
.submenu__item:first-child::after {
    content: "";
    align-self: center;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--white-dark-alfa);
    cursor: default;
}

.submenu__link {
    margin-top: 5px;
    padding: 5px 20px 5px 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    white-space: nowrap;
    cursor: pointer;
}
.submenu__link:hover {
    background-color: var(--creame);
}
.submenu__link:active {
    background-color: var(--creame-dark);
}
.submenu__link--active {
    background-color: var(--tomato-dark);
    color: var(--white);
    cursor: default;
    pointer-events: none;
}
.submenu__link--active:hover {
    background-color: var(--tomato-dark);
    pointer-events: none;
}
.submenu__link--active:active {
    background-color: var(--tomato-dark);
    pointer-events: none;
}
.submenu__item:first-child .submenu__link {
    margin-bottom: 6px;
    padding-bottom: 5px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
}
.submenu__item:last-child .submenu__link {
    margin-bottom: 8px;
}

/* form-search */

.form-search {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 0;
    transform-origin: top;
    transform: translateY(calc(100% + 5px));
    padding: 20px 15px;
    background-color: var(--white-light-1);
    box-shadow: 0px 20px 20px var(--black-alfa-4);
    border-radius: 4px;
}
.menu__item:hover > .form-search {
    display: block;
}

.form-search__text {
    width: 311px;
    height: 44px;
    padding: 0 15px;
    background-color: var(--white);
    border: 1px solid var(--black-outline-input);
    border-radius: 4px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: var(--black);
}
.form-search__text::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.form-search__text:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.form-search__text:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

/* form-login */

.form-login {
    display: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    row-gap: 20px;
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 277px;
    box-sizing: border-box;
    transform-origin: top;
    transform: translateY(calc(100% + 5px));
    padding: 20px;
    background-color: var(--white-light-1);
    box-shadow: 0px 20px 20px var(--black-alfa-4);
    border-radius: 4px;
}
.menu__item:hover > .form-login {
    display: grid;
}

.form-login__label {
    position: relative;
}
.form-login__label:first-child {
    grid-column: 1 / 3;
}
.form-login__label:nth-child(2) {
    grid-column: 1 / 3;
}

.form-login__submit {
    justify-self: flex-start;
    align-self: flex-start;
    padding: 14px 24px;
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    border: 0;
    border-radius: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: var(--white);
}
.form-login__submit:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
} 
.form-login__submit:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}

.form-login__name {
    width: 100%;
    height: 44px;
    padding: 0 13px;
    background-color: var(--white);
    border: 1px solid var(--black-outline-input);
    border-radius: 4px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: var(--black);
}
.form-login__name::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.form-login__name:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.form-login__name:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

.form-login__pass {
    width: 100%;
    box-sizing: border-box;
}
.form-login__pass {
    width: 100%;
    height: 44px;
    padding: 0 13px;
    background-color: var(--white);
    border: 1px solid var(--black-outline-input);
    border-radius: 4px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: var(--black);
}
.form-login__pass::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.form-login__pass:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.form-login__pass:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

.form-login__registration {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: -3px 0 0 0;
    padding: 0;
}

.form-login__recovery-pass {
    margin-bottom: 6px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: var(--black);
    text-decoration: underline;
    white-space: nowrap;
}

.form-login__signup {
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: var(--black);
    text-decoration: underline;
    white-space: nowrap;
}

/* basket */

.basket {
    display: none;
    flex-flow: column nowrap;
    justify-content: start;
    position: absolute;
    bottom: 2px;
    right: 0;
    transform-origin: top;
    transform: translateY(calc(100% + 5px));
    padding: 20px 14px 20px 20px;
    background-color: var(--white-light-1);
    box-shadow: 0px 20px 20px var(--black-alfa-4);
    border-radius: 4px;
}
.menu__item:hover > .basket {
    display: flex;
}

.basket__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    margin: 0 21px 0 0;
    padding: 0;
    list-style: none;
}

.basket__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 20px;
}

.basket-mini-item__product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    margin-right: 15px;
}

.basket-mini-item__remove {
    margin: 0 9px 0 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.basket-mini-item__img {
    margin-right: 13px;
}

.basket-mini-item__name {
    width: 218px;
    margin-right: 17px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.basket-mini-item__weight {
    white-space: nowrap;
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--black-dark);
}

.basket-mini-item__cost {
    margin-right: 26px;
    color: var(--black-light);
}

.basket-mini-item__cost-total {
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
    white-space: nowrap;
}

.basket__total {
    align-self: stretch;
    margin: 3px 0 14px 0;
    padding: 16px 0 0 0;
    border-top: 1px solid var(--black-light-1);
    text-align: end;
    
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: var(--black);
}

.basket__order-button {
    align-self: flex-end;
    padding: 15px 15px;
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    border: 0;
    border-radius: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
}
.basket__order-button:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
} 
.basket__order-button:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}

/* breadcrumbs */

.breadcrumbs {
    z-index: 35;
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 9px 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs__item {
    position: relative;
    margin-right: 9px;
    padding-right: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.breadcrumbs__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background-image: url("../img/breadcrumbs-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}
.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: var(--white);
    text-decoration: underline;
}
.breadcrumbs__item:last-child .breadcrumbs__link {
    cursor: default;
}
.breadcrumbs__link:hover {
    color: var(--tomato-light);
}
.breadcrumbs__link:active {
    color: var(--tomato-light);
}
.breadcrumbs__item:last-child .breadcrumbs__link:last-child,
.breadcrumbs__item:last-child .breadcrumbs__link:hover,
.breadcrumbs__item:last-child .breadcrumbs__link:active {
    color: var(--white);
    text-decoration: none;
}

/* header-bar */

.header-bar {
    z-index: 33;
    position: relative;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.header-bar__row {
    margin: 0 0 8px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.header-bar__row--tel {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}
.header-bar__row--tel:hover {
    color: var(--tomato-light);
}
.header-bar__row--tel:active {
    color: var(--tomato-light);
}

/* ---------------- main ---------------- */ 

/* main-slider */

.main-slider {
    z-index: 20;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 482px;
    margin-bottom: 40px;
}

.main-slider__controls {
    z-index: 25;
    display: flex;
    justify-content: start;
    align-items: start;
    position: absolute;
    left: 0;
    bottom: 23px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-slider__item-button {
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}
.main-slider__item-button:hover {
background-color: var(--white-light-1-bg)
}
.main-slider__item-button:active {
    background-color: var(--white);
}
.main-slider__item-button:focus {
    outline: 1px solid var(--tomato);
}
.main-slider__item-button--active,
.main-slider__item-button--active:hover,
.main-slider__item-button--active:active {
    background-color: var(--white);
    pointer-events: none;
    cursor: default;
}

.main-slider__list {
    z-index: 20;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;
    height: 457px;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translateX(0px);
}

.main-slider__item {
    flex-shrink: 0;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-slider__item--show {
    display: flex;
}

.main-slider__header {
    z-index: 24;
    position: relative;
    margin: 0 0 26px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-align: center;   
}

.main-slider__img {
    will-change: filter;
    z-index: 23;
    position: absolute;
    top: -168px;
    left: auto;
    padding: 100px;
    filter: drop-shadow(0 10px 80px var(--white-light-bg));
}

.main-slider__buttom {
    z-index: 24;
    padding: 10px 36px;
    border: none;
    border-radius: 70px;
    background-image: var(--tomato-gradient);
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    box-shadow: 0px 2px 2px var(--tomato-shadow);
    text-shadow: 0px 2px 5px var(--tomato-text-shadow);
}
.main-slider__buttom:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-1);
} 
.main-slider__buttom:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}

/* offer */

.offer {
    z-index: 50;
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin: 0 0 40px 0;
    padding: 16px 22px 22px 16px;
    border-radius: 16px;
    background-color: var(--black-light);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer:nth-child(2n+1) {
    margin-right: 26px;
}
.offer--raspberry {
    background-color: var(--red-dark);
    background-image: url("../img/bg-rasberry.jpg");
}

.offer--chocolate {
    background-color: var(--tomato-dark-1);
    background-image: url("../img/bg-chocolate.jpg");
}

.offer__header {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.offer__description {
    margin: 16px 0 42px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.offer__button {
    justify-self: flex-end;
    align-self: flex-end;
    padding: 12px 22px;
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    border-radius: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.offer__button:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
} 
.offer__button:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}

/* description */

.description {
    margin: 10px 0 40px 0;
    padding: 24px 20px 17px 20px;
    background-color: var(--creame-light);
    background-image: url("../img/wafer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    color: var(--black);
    border-radius: 16px;
}


.description__header {
    margin: 0 0 6px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.description__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
}

.description__item {
    position: relative;
    margin: 0 0 0 20px;
    padding: 10px 0 0 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
}
.description__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 49px;
    height: 49px;
}
.description__item:nth-child(1)::before {
    background: url("../img/ice-cream.svg") no-repeat center;
}
.description__item:nth-child(2)::before {
    background: url("../img/eco.svg") no-repeat;
}
.description__item:nth-child(3)::before {
    background: url("../img/cow.svg") no-repeat;
}
.description__item:nth-child(4)::before {
    background: url("../img/thermometer.svg") no-repeat;
}

/* news */

.news {
    flex-basis: 40%;
    flex-grow: 1;
    height: 220px;
    box-sizing: border-box;
    margin: 0 26px 40px 0;
    padding: 19px 20px;
    background-color: var(--white);
    background-image: url("../img/bg-strawberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.news__header {
    margin: 0 0 3px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.news__link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: var(--black);
}
.news__link:hover {
    color: var(--tomato);
}
.news__link:active {
    color: var(--tomato);
}

/* subscription */

.subscription {
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    height: 220px;
    margin: 0 0 40px 0;
    border-radius: 16px;
    background-color: var(--creame-light);
    background-image: url("../img/bg-post.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 5px 6px;
    padding: 24px 20px 36px 20px;
    border-radius: 16px;
    background-color: var(--creame-light);
}
.subscription__descriptin {
    margin: 0 0 29px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-light);
}

.subscription__form {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.subscription__label {
    position: relative;
    width: 100%;
    margin-right: 10px;
}

.subscription__input {
    width: 100%;
    box-sizing: border-box;
    padding: 9px 13px;
    border: 1px solid var(--black-outline-input);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.subscription__input::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.subscription__input:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.subscription__input:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

.subscription__submit {
    padding: 10px 18px;
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    border: none;
    border-radius: 70px;
    font: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
}
.subscription__submit:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
}
.subscription__submit:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}
.subscription__submit:focus {
    outline: 1px solid var(--tomato);
}

/* contact */

.contact {
    position: relative;
    margin: 0 0 0 -27px;
}

.contact__marker{
    position: absolute;
    top: 136px;
    left: 266px;
    fill: var(--tomato);
}

.contact__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    top: 62px;
    left: 870px;
    padding: 30px 25px;
    background-color: var(--white-light);
    border-radius: 16px;
}

.contact__map--google {
    position: absolute;
    left: 0;
    top: 0;
}
.contact__map--yandex {
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    height: 430px;
}

/* popup-info */

.popup-info {
    display: flex;
    flex-flow: column nowrap;
}

.popup-info__header {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.popup-info__address {
    margin: 0 0 20px 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
}

.popup-info__telephone {
    margin: 0 0 26px 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.popup-info__telephone-link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: var(--black);
}
.popup-info__telephone-link:hover {
    color: var(--tomato);
}
.popup-info__telephone-link:active {
    color: var(--tomato);
}

.popup-info__telephone-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--black)
}

.popup-info__button {
    align-self: center;
    padding: 10px 28px; 
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    border-radius: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.popup-info__button:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
} 
.popup-info__button:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}

/* catalog */

.catalog {
    border-bottom: 1px solid var(--white-dark-bg);
}
.catalog--hit {
    border-bottom: none;
}

.catalog__header {
    margin: -9px 0 27px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.catalog__form {
    margin-bottom: 27px;
}

/* ++++++++++++++++++++++++ catalog-form ++++++++++++++++++++++++ */

.catalog-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.catalog-form__fieldset {
    z-index: 40;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 14px 15px 0;
    padding: 0;
    border: none;
}
.catalog-form__fieldset--grow {
    flex-grow: 1;
}
.catalog-form__fieldset:first-child {
    z-index: 50;
}

.catalog-form__legend-wrapper {
    margin: 0;
    padding: 0;
}

.catalog-form__legend {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    margin-bottom: 6px;
    padding-left: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}

.catalog-form__legend-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.catalog-form__input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    background-color: var(--white-dark-bg);
    border-radius: 20px;
}
.catalog-form__input-area--select {
    cursor: pointer;
}
.catalog-form__input-area--slider {
   min-width: 186px;
}
.catalog-form__fieldset--select-choose .catalog-form__input-area {
    background-color: var(--white);
}

.catalog-form__input-area-label {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
}
.catalog-form__input-area-label:last-child {
    margin-right: 2px;
}
.catalog-form__fieldset--checkbox .catalog-form__input-area-label:nth-child(2) {
    margin-right: 25px;
}
.catalog-form__fieldset--checkbox .catalog-form__input-area-label:nth-child(3) {
    margin-right: 28px;
}
.catalog-form__fieldset--checkbox .catalog-form__input-area-label:nth-child(4) {
    margin-right: 22px;
}
.catalog-form__fieldset--checkbox .catalog-form__input-area-label:last-child {
    margin-right: 6px;
}

/* catalog-form__select */

.catalog-form__select-label {
    padding: 10px 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.catalog-form__input-area--select:hover .catalog-form__select-label,
.catalog-form__fieldset--select-choose .catalog-form__select-label {
    color: var(--black);
}

.catalog-form__select-arrow {
    margin-left: 23px;
    fill: var(--white);
}
.catalog-form__input-area--select:hover .catalog-form__select-arrow,
.catalog-form__fieldset--select-choose .catalog-form__select-arrow {
    fill: var(--black)
}

.catalog-form__select-list {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 3px 0;
    background-color: var(--white);
    list-style: none;
}
.catalog-form__fieldset--select-choose .catalog-form__select-list {
    display: flex;
}

.catalog-form__select-item {
    display: flex;
}

.catalog-form__select-link {
    flex-grow: 1;
    padding: 3px 50px 2px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    white-space: nowrap;
    cursor: pointer;
}
.catalog-form__select-link:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* catalog-form__slider-control */

.catalog-form__range-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 36px;
}
  
.catalog-form__scale {
    width: 100%;
    height: 2px;
    margin: 10px 3px;
    background: var(--white-light-alfa);
}
  
.catalog-form__bar {
    position: relative;
    left: 16px;
    width: 98px;
    height: 2px;
    background: var(--white-light-1);
}

.catalog-form__toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white);
    background-color: var(--white-dark);
    border-radius: 50%;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
}
.catalog-form__toggle:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
.catalog-form__toggle--min {
    left: 18px;
}
.catalog-form__toggle--max {
    left: 116px;
}
.catalog-form__toggle:focus {
    outline: 1px solid var(--tomato);
}

/* catalog-form__radio */

.catalog-form__radio-icon {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border: 3px solid var(--white-light-bg);
    border-radius: 50%;
    box-sizing: border-box;
}
.catalog-form__radio:checked + .catalog-form__radio-icon::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--white-light-bg);
    border-radius: 50%;
}
.catalog-form__input-area-label:hover .catalog-form__radio-icon {
    border-color: var(--white);
}
.catalog-form__input-area-label:hover .catalog-form__radio-icon::after {
    background-color: var(--white);
}
.catalog-form__radio:disabled + .catalog-form__radio-icon {
    border-color: var(--white-light-1-bg);
}
.catalog-form__radio:disabled + .catalog-form__radio-icon::after {
    background-color: var(--white-light-1-bg);
}
.catalog-form__radio:focus ~ .catalog-form__radio-icon {
    outline: 1px solid var(--tomato);
}

/* catalog-form__checkbox */

.catalog-form__checkbox-icon {
    width: 24px;
    height: 20px;
    margin-right: 8px;
    fill: var(--white-light-bg);
}
.catalog-form__checkbox-icon:nth-last-child(2) {
    display: none;
}
.catalog-form__checkbox-icon:nth-last-child(1) {
    display: block;
}
.catalog-form__checkbox:checked ~ .catalog-form__checkbox-icon:nth-last-child(2) {
    display: block;
}
.catalog-form__checkbox:checked ~ .catalog-form__checkbox-icon:nth-last-child(1) {
    display: none;
}
.catalog-form__input-area-label:hover .catalog-form__checkbox-icon {
    fill: var(--white);
}
.catalog-form__checkbox:disabled ~ .catalog-form__checkbox-icon {
    fill: var(--white-light-1-bg);
}

.catalog-form__checkbox:focus ~ .catalog-form__checkbox-icon {
    outline: 1px solid var(--tomato);
}
/* catalog-form__button */

.catalog-form__button {
    height: 36px;
    margin: 0 0 15px 0;
    padding: 0 29px;
    border: none;
    border-radius: 20px;
    background-color: var(--white-dark-bg);
    box-shadow: inset 0 0 0 2px var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    cursor: pointer;
    user-select: none;
}
.catalog-form__button:hover {
    background-color: var(--white);
    color: var(--black);
}
.catalog-form__button:active {
    background-color: var(--white);
    box-shadow: inset 0px 2px 1px var(--grey-dark-1);
    color: var(--black);
}
.catalog-form__button:focus {
    outline: 1px solid var(--tomato);
}

/* catalog__list-product */

.catalog__list-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog__item-product {
    position: relative;
}

.catalog--hit .catalog__item-product::before {
    z-index: 100;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-color: var(--white);
    background-image: url("../img/hit.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* product */

.product {
    z-index: 40;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding: 0 0 18px 0;
}
.product:hover {
    z-index: 50;
}

.product__frame {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% + 24px);
    height: calc(100% + 48px);
    margin: -6px 0 0 -13px;
    border-radius: 4px;
    background-color: var(--white-dark-bg);
    box-shadow: 0px 20px 20px var(--black-alfa-2);
}
.product:hover .product__frame {
    display: flex;
}

.product__button {
    margin-bottom: 20px;
    padding: 10px 16px;
    background-image: var(--tomato-gradient-1);
    box-shadow: 0 2px 2px var(--red-dark-1);
    border: none;
    border-radius: 50px;
    font: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
}
.product__button:hover {
    background: var(--tomato-light-gradient);
    box-shadow: 0 2px 2px var(--red-dark-1);
} 
.product__button:active {
    background: var(--tomato-dark-gradient);
    box-shadow: inset 0 2px 2px var(--red-dark-1);
}

.product__header {
    position: relative;
    margin: 13px 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.product__photo {
    z-index: 10;
    position: relative;
    border-radius: 50%;
}

.product__price {
    z-index: 15;
    position: absolute;
    top: 210px;
    left: 0;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0px 1px 3px var(--black-alfa-5);
}

.product__weight {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.catalog__list-pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 45px 0px 29px 0;
    padding: 0;
    list-style: none;
}

.catalog__item-page {
    margin-right: 4px;
}
.catalog__item-page:nth-last-child(1),
.catalog__item-page:nth-last-child(2) {
    margin-right: 0;
}

.catalog__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    cursor: pointer;
}
.catalog__item-link:hover {
    background-color: var(--white-dark-bg);
}
.catalog__item-link:active {
    background-color: var(--white);
    color: var(--black);
}
.catalog__item-link--active,
.catalog__item-link--active:hover,
.catalog__item-link--active:active {
    background-color: var(--white);
    color: var(--black);
    pointer-events: none;
    cursor: default;
}
.catalog__item-link--disable {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}
.catalog__item-page:last-child .catalog__item-link:hover,
.catalog__item-page:last-child .catalog__item-link:active {
    background-color: transparent;
    color: var(--white);
}


.catalog__item-arrow {
    fill: var(--white);
}
.catalog__item-page:last-child .catalog__item-arrow {
    margin: 0 0 0 auto;
}

/* ---------------- footer ---------------- */

/* social */
.social {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social__link {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.social__logo {
    margin: 0;
    fill: var(--white-light-bg);
    border: 2px solid var(--white-light-border);
    border-radius: 50%;
}
.social__link:hover .social__logo {
    fill: var(--white);
    border: 2px solid var(--white-light-border);
}
.social__link:active .social__logo {
    fill: var(--white);
    border: 2px solid var(--white-light-1-border);
}

/* info */

.info {
    display: grid;
    grid-template-columns: 143px 200px;
    row-gap: 4px;
    margin: 6px 0 0 53px;
    padding: 0;
    list-style: none;
}

.info__link {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    color: var(--white);
}
.info__link--love {
    font-weight: bold;
}
.info__link:hover,
.info__link:active {
    color: var(--tomato-light);
}

.info__img {
    position: absolute;
    height: 18px;
    top: 0;
    left: -22px;
    fill: var(--white);
}
.info__link:hover .info__img,
.info__link:active .info__img {
    fill: var(--tomato-light);
}

/* developer */

.developer__logo {
    position: relative;
}

.developer__logo-img {
    margin: 0 0 0 0;
    fill: var(--white);
}
.developer__logo-link:hover .developer__logo-img,
.developer__logo-link:active .developer__logo-img {
    fill: var(--tomato-light);
}
.developer__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.developer__link {
    color: var(--white);
    text-decoration: underline;
}
.developer__link:hover {
    color: var(--tomato-light);
}
.developer__link:active {
    color: var(--tomato-light);
}

/* modal */

.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alfa-3);

    transform: scale3d(0, 0, 0);
}
.modal--show {
    transform: scale3d(1, 1, 1);
}

.modal__window {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 477px;
    padding: 15px 25px 27px 24px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: var(--white-light-1);    
}
.modal--show .modal__window {
    animation-name: modal-show-animation;
    animation-duration: .225s;
}

@keyframes modal-show-animation {
    0% {
        transform: translate3d(200px, 300px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.modal__header {
    width: 90%;
    margin: 0 0 20px 0;
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
}

.modal__close {
    position: relative;
    top: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.modal__close::before,
.modal__close::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--black);
    transform-origin: 0 0;
}
.modal__close::before {
    top: 0;
    right: -6px;
    width: 23px;
    transform: rotate(45deg);
}
.modal__close::after {
    top: 17px;
    right: -5px;
    width: 24px;
    transform: rotate(-45deg);
}

.form-feedback {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
}

.form-feedback__label {
    margin: 0 0 20px;
}

.form-feedback__text {
    width: 267px;
    height: 44px;
    padding: 0 13px;
    background-color: var(--white);
    border: 1px solid var(--grey-dark);
    border-radius: 4px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 44px;
    color: var(--black);
}
.form-feedback__text::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.form-feedback__text:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.form-feedback__text:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

.form-feedback__textarea {
    width: 100%;
    height: 154px;
    box-sizing: border-box;
    padding: 11px 14px;
    border: 1px solid var(--grey-dark);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    resize: none;
}
.form-feedback__textarea::placeholder {
    font-weight: normal;
    color: var(--grey-dark);
    opacity: 1;
}
.form-feedback__textarea:hover {
    box-shadow: 0 0 0 1px var(--black-outline-input);
}
.form-feedback__textarea:focus {
    box-shadow: 0 0 0 1px var(--blue-outline);
    border-color: var(--blue-outline);
}

.form-feedback__submit {
    align-self: flex-end;
    margin-top: 4px;
    padding: 10px 23px;
    border: 0;
    border-radius: 70px;
    background-image: var(--tomato-gradient);
    box-shadow: 0 2px 2px var(--red-dark-alfa-1);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    cursor: pointer;
}
.form-feedback__submit:hover {
    background: 
        linear-gradient(0deg, var(--white-dark-bg), var(--white-dark-bg)),
        var(--tomato-gradient);
    box-shadow: 0 1px 2px var(--red-dark-1);
} 
.form-feedback__submit:active {
    background: 
        var(--black-light-alfa-bg),
        var(--tomato-gradient);
    box-shadow: inset 0 2px 2px var(--tomato-dark-1);
}
